<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docker.dao.StudentDao">

    <!--开启mybatis的默认二级缓存-->
    <!--<cache/>
    <cache type="org.apache.ibatis.cache.impl.PerpetualCache"/>-->

    <!--指向redis的cache-->
    <!--<cache type="com.docker.cache.RedisCache"/>-->

    <!--多表关联查询使用   namespace 相互指向即可-->
    <cache-ref namespace="com.docker.dao.UserDao"/>

    <resultMap id="resultMap" type="com.docker.bean.User">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
    </resultMap>



    <select id="selectAll"  resultMap="resultMap">
        select * from student_info;
    </select>


    <select id="selectById" parameterType="java.lang.String" resultType="com.docker.bean.User">
        select * from user_info where id=#{id};
    </select>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from user_info where id=#{id};
    </delete>

    <insert id="saveUser" parameterType="com.docker.bean.User" >
        insert into user_info values
        ( #{id}, #{name}, #{age}, #{className}, #{subject})
    </insert>
</mapper>